body {
    background-color: rgb(15, 15, 15);
  }

h1 {
    color: rgb(255, 0, 191);
    font-family: Arial, Helvetica, sans-serif;
    
}
.player {
  width: 512;
  height: 256;
}
.video-container {
  position: relative;
  width: 320px;
  height: 180px;
  margin-bottom: 20px;
}